h1,h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
}
h2{
    font-size:medium;
    font-weight:normal;
}
p{
    color:red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}