h1{
    color:red;
    font-size: large;
    font-weight:bold;
}
img{
    width:200%;
    height:auto;
}
h3{
    color:blue;
    font-weight:lighter;
}
h2{
    color:blue;
    font-weight:500;
}

li{
    color:red;
    font-size:medium;
}